@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  position: relative;
  max-width: 1920px;
  height: 5503px;

  /* White */
  background: #ffffff;
  overflow-x: hidden; /*для горизонтального*/
}

.logo {
  position: relative;
  width: 206px;
  height: 73px;
  left: 371px;
  top: 8px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  position: relative;
  width: 448px;
  height: 19px;
  left: 1097px;
  top: -35px;
}

.text a {
  color: rgb(0, 0, 0);
}

.picture {
  position: absolute;
  width: 1920px;
  height: 600px;
  left: 0px;
  top: 100px;
}

.outher {
  position: relative;
  max-width: 600px;
  height: 149px;
  left: 375px;
  top: 200px;
  z-index: 1;

  font-family: SF Pro Display, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 135.3%;
  color: #1f2125;
}

#outher {
  position: absolute;
  width: 1044px;
  height: 373px;
  left: 0px;
  top: 200px;

  background: rgba(255, 255, 255, 0.48);
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  z-index: 2;
  text-align: center;
  justify-content: center;

  position: absolute;
  width: 245px;
  height: 62px;
  left: 375px;
  top: 464px;

  background: rgba(8, 166, 82, 0.85);
  border-radius: 5px;

  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.text1 {
  position: relative;
  width: 848px;
  height: 38px;
  left: 375px;
  top: 580px;

  font-family: SF Pro Display, sans-serif;

  font-weight: 600;
  text-align: center;
  justify-content: center;
  font-size: 28px;
  line-height: 135.3%;
  color: #1f2125;
}

.w1 {
  position: absolute;
  width: 301px;
  height: 51px;
  left: 375px;
  top: 895px;

  font-family: SF Pro Display, sans-serif;
  padding: 10px;
  font-size: 15px;

  color: #83a4b9;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.w2 {
  position: absolute;
  width: 300px;
  height: 51px;
  left: 710px;
  top: 895px;

  font-family: SF Pro Display, sans-serif;
  padding: 10px;
  font-size: 15px;

  color: #83a4b9;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.w3 {
  position: absolute;
  width: 301px;
  height: 51px;
  left: 1044px;
  top: 895px;

  font-family: SF Pro Display, sans-serif;
  padding: 10px;
  font-size: 15px;

  color: #83a4b9;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.submit {
  justify-content: center;
  align-items: center;
  padding: 15px 30px;

  position: absolute;
  width: 170px;
  height: 51px;
  left: 1375px;
  top: 895px;

  background: rgba(8, 166, 82, 0.85);
  border-radius: 5px;
}

.text2 {
  position: relative;
  top: 1.5px;
  left: 15px;

  font-family: SF Pro Display, sans-serif;
  font-size: 16px;
  color: #fff;
}

.Group5 {
  position: absolute;
  width: 1920px;
  height: 770px;
  left: 0px;
  top: 1020px;
}

.frame {
  position: absolute;
  width: 910px;
  height: 554px;
  top: 108px;
  z-index: 1;
  background: #ffffff;
}

.headline {
  position: relative;
  width: 240px;
  height: 40px;
  left: 375px;
  top: 77px;

  font-family: SF Pro Display, sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #1f2125;
}

.text3 {
  position: relative;
  width: 470px;
  height: 218px;
  left: 375px;
  top: 100px;
  font-family: SF Pro Display, sans-serif;
  font-size: 18px;
  line-height: 147.3%;
  color: #62696c;
}

#w2 {
  position: relative;
  top: 20px;
}

#w3 {
  position: relative;
  top: 40px;
}

.btn2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;

  position: relative;
  width: 209px;
  height: 49px;
  left: 375px;
  top: 200px;
  z-index: 5;

  background: rgba(8, 166, 82, 0.85);
  border-radius: 5px;
}

#text4 {
  position: relative;
  width: 149px;
  height: 19px;
  left: 5px;
  top: 0px;
  z-index: 5;

  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.line {
  position: relative;
  width: 170px;
  height: 770px;
  left: 1375px;
  top: -770px;
  z-index: 4;

  background: rgba(8, 166, 82, 0.85);
}

#line1 {
  position: relative;
  width: 20px;
  height: 158px;
  left: 45%;
  top: 37%;
  z-index: 5;

  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 135.3%;

  color: #ffffff;
}

#line2 {
  position: relative;
  width: 20px;
  height: 158px;
  left: 45%;
  top: 27%;
  z-index: 5;

  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 135.3%;

  color: #ffffff;
}

.text5 {
  position: relative;
  width: 600px;
  height: 38px;
  left: 365px;
  top: -85%;

  font-family: SF Pro Display, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 135.3%;

  color: #1f2125;
}

.Group65 {
  position: relative;
  display: inline-flex;
  width: 1600px;
  left: 200px;
  top: 1750px;
}

.Group65 p {
  font-family: SF Pro Display, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.3%;
  color: #fff;
  text-align: center;
  justify-content: center;
}

#box1 {
  position: relative;
  width: 270px;
  display: inline-flex;
  height: 65px;
  top: -65px;
  background: rgba(98, 105, 108, 0.85);
  z-index: 5;
}

#box2 {
  position: relative;
  width: 270px;
  display: inline-flex;
  height: 65px;
  top: -65px;
  background: rgba(98, 105, 108, 0.85);
  z-index: 5;
}

#box3 {
  position: relative;
  width: 270px;
  display: inline-flex;
  height: 65px;
  top: -65px;
  background: rgba(98, 105, 108, 0.85);
  z-index: 5;
}

#box4 {
  position: relative;
  width: 270px;
  display: inline-flex;
  height: 65px;
  top: -65px;
  background: rgba(98, 105, 108, 0.85);
  z-index: 5;
}
